.buttonOnTop{
    background-color: blue;
    color: yellow;
    width: 100px;
    height: 100px;
    margin: 50px;
    font-size: 20pt;
}
.textAreaClass{
    background-color: blue;
    color: yellow;

}
#spanText
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}
