.buttonOnTop{
    background-color: blue;
    color: yellow;
    width: 100px;
    height: 100px;
    margin: 50px;
    font-size: 20pt;
}
.openButton{
    position:absolute;
    width:5%;
height:60%;
top:20%;
left:5%;
color: yellow;
background-color:primary;
}
#spanText
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}
.homeMaster {
    background-color: green;
  }
  ion-content {
    --background: gray;
   }
   .textEditor{
       background-color: white;
       color: black;
       position: absolute;
       top: 0%;
       width: 70%;
       height: 100%;
       left: 15%;
       
   }