.buttonOnTop{
    background-color: blue;
    color: yellow;
    width: 100px;
    height: 100px;
    margin: 50px;
    font-size: 20pt;
}
.buttonsDiv{
    position: relative;
    top: 0%;
}
#spanText
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}
.homeMaster {
    background-color: green;
  }