<ion-header>
  <ion-toolbar color="primary">
      <div>
          <button mat-icon-button 
          (click)="chooseFile()"
          class="openButton">
              <ion-icon name="open" 
              style="font-size: 12pt"></ion-icon>
          </button>
      </div>
      <div>
          <button mat-button 
          (click)="changeColorModeToRG()"
          class="openButton"
          style="left:15%">
              RG
          </button>
      </div>
      <div>
          <button mat-button 
          (click)="changeColorModeToRGB()"
          class="openButton"
          style="left:25%;width:8%">
              RGB
          </button>
      </div>
      <div style="left:50%">
            <!-- <div class="col-sm-4">
                <img src="images/box-dropbox1.jpg" class="img-responsive">
            </div> -->
            <hr/>
            <div class="col-sm-8">
                <div class="col-sm-4 center-block">
                    <p><a class="btn btn-primary btn-block" href="javascript:;" one-drive-picker odpicker-files="odfiles">OneDrive Picker</a></p>
                </div>
                <!-- <div class="col-sm-4 center-block">
                    <p><a class="btn btn-primary btn-block">Fork me</a></p>
                </div> -->
            </div>
            <div class="container col-sm-12">
                <div class="row show-grid" ng-switch="odfiles.length > 0">
                    <div ng-switch-when="true">
                        <div class="col-sm-4" ng-repeat="file in odfiles">
                            <a href="{{ file.link }}" target="_blank"><img src="images/file1.png" class="img-responsive img-thumbnail"> {{ file.fileName }}</a>
                            <button type="button" class="close" ng-click="remove($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://js.live.net/v5.0/OneDrive.js" id="onedrive-js" client-id="000000004417555F"></script>
        <script src="app.js"></script>
        <script src="onedrive-picker.js"></script>
    
  </ion-toolbar>
</ion-header>

<ion-content >

<div id="spanText">spanText</div>
<ion-card class="textEditor">
    <ion-card-content>
      <div style="margin:30px">
      <p *ngFor="let line of this.linesArray; let i = index">

        <span *ngIf="this.twoOrThreeFlag==0">
            {{line}} 
       </span>
     
      
      <span *ngIf="this.twoOrThreeFlag==1" [ngSwitch]="(i+1)%2">
            <span *ngSwitchCase="'0'" style = "color:red">  {{line}} 
              </span>
            <span *ngSwitchCase="'1'" style = "color:green">  {{line}} 
              </span>
        </span>
    
    
    
    
    
        <span *ngIf="this.twoOrThreeFlag==2" [ngSwitch]="(i+1)%3">
            <span *ngSwitchCase="'0'" style = "color:red">  {{line}} 
              </span>
            <span *ngSwitchCase="'1'" style = "color:green">  {{line}} 
              </span>
              <span *ngSwitchCase="'2'" style = "color:blue">  {{line}} 
                </span>
        </span>
    </p>
    </div>
    </ion-card-content>
  </ion-card>

</ion-content>
